<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/bellvat">Monica</a>, student on the path to becoming a web developer.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'monica.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Monica Sirathanarun</h2>
    <br />
    <p>
      Monica Sirathanarun is an aspiring web developer.
    </p>
  </div>
</div>
<br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />